@import './base.css';


@font-face {
  font-family: 'Noto Color Emoji';
  src: url('@/assets/fonts/NotoColorEmoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: normal;
  unicode-range:
  U+1F1E6-1F1FF, /*magyar, nemet*/
  U+E0067-E007F/*angol*/
}


body {
    font-family: 'Segoe UI', 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
  